@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,700&display=swap&subset=latin-ext');

/* VARIABLES */
$greeny: #61892f;
$yellowy: #86c232;
$grey: #474b4f;
$light-grey: #ccc;

/* Background pattern from Toptal Subtle Patterns */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), repeat center url('../assets/use_your_illusion.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  padding-top: 10px;
  width: 100vw;
  min-height: 85vh;
  padding-bottom: 40px;

  .autocomplete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;

    h1 {
      font-size: 2.4rem;
      color: $yellowy;
      font-weight: 300;
    }

    .container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 10px;
      width: 90%;
      height: 40px;
      color: black;

      input {
        height: 100%;
        width: 70%;
        display: block;
        line-height: 40px;
        font-size: 1.8rem;
        outline: none;
        background-color: #fff;
        border: 2px solid $yellowy;
        border-radius: 10px;
        padding-left: 15px;

        &::-webkit-calendar-picker-indicator {
          display: none;
        }
      }

      .submit {
        width: 25%;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
        line-height: 40px;
        font-size: 1.8rem;
        outline: none;
        background-color: #fff;
        border: 2px solid $yellowy;
        border-radius: 10px;
      }

      p {
        position: absolute;
        top: 50%;
        right: 8%;
        font-size: 1.8rem;
        color: #222;
        transform: translateY(-50%)
      }
    }
  }

  .cities {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .city {
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      transition: .5s linear;

      &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        font-size: 3rem;
        box-shadow: inset 0px 0px 3px #444;
        font-style: italic;
        transition: .2s linear;


        a {
          text-decoration: none;
          color: #222;
        }
      }

      &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        width: 100%;
        font-size: 1.8rem;
        overflow: hidden;
        color: #222;
        font-weight: 300;
        box-shadow: inset 0px 0px 3px #444;
        transition: .1s linear;

        p {
          margin: 20px 15px;

        }
      }

      .visible {
        height: auto;
        flex-grow: 1;
      }
    }
  }
}

footer {
  padding: 0px 10px 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;

  p {
    text-align: center;
  }

  a {
    text-align: center;
    color: #777;
    text-decoration: none;
  }

  .socials {
    margin: 0 10px;
    height: 50px;
    width: 90px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    line-height: 50px;
    font-size: 3.5rem;

    .fab {
      color: #999;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1024px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .autocomplete {
      width: 400px;

      input {
        transition: .1s linear;

        &:hover {
          transform: scale(1.1)
        }
      }

      .submit {
        cursor: pointer;
        transition: .1s linear;

        &:hover {
          background-color: $yellowy;
          color: #fff;
        }
      }
    }

    .cities {
      width: 80%;
      margin-top: 40px;

      .city {
        display: flex;
        flex-wrap: nowrap;

        &__header {
          height: 60px;
          cursor: pointer;
          transition: .1s linear;

          &:hover {
            background-color: #ccc;
            color: $yellowy;
          }

          p {
            transition: .1s linear;

            &:hover {
              border-bottom: 1px solid $greeny;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  footer {
    .socials {
      .fab {
        transition: .1s linear;
      }

      .fa-linkedin:hover {
        color: #fff;
      }

      .fa-github-square:hover {
        color: #fff;
      }
    }

    a {
      transition: .1s linear;

      &:hover {
        color: #fff;
      }
    }
  }
}