@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,700&display=swap&subset=latin-ext');

/* Background pattern from Toptal Subtle Patterns */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: repeat center url('../assets/use_your_illusion.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  margin-top: 30px;
  width: 80vw;
  min-height: 85vh;
  border: 1px solid #fff;

  .autocomplete {
    left: 50%;
    top: 20px;
    width: 40%;
    text-align: center;
    position: relative;
    display: inline-block;
    transform: translateX(-50%);

    input {
      padding: 10px;
      display: block;
      // margin: 10px auto 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 1.8rem;
      border: none;
      border-bottom: 1px solid #999;
      outline: none;
      color: #fff;
      background-color: transparent;
      // text-align: center;
    }

    &-items {
      position: absolute;
      // border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;

      & div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;

        &:hover {
          background-color: #e9e9e9;
        }
      }
    }
  }

  .cities {
    margin: 20px auto 0;
    width: 90%;

    &__city {
      width: 100%;
      height: 300px;
      border: 1px solid red;
      color: #aaa;
    }

    p {
      height: 80%;
      width: 80%;
      text-align: justify;
      overflow: hidden;

      a {
        text-decoration: none;
        color: #fff;
      }

      & * {
        display: inline;
      }
    }

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 12.5%;
      border: 1px solid blue;
      font-size: 4rem;
    }

    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 87.5%;
      border: 1px solid yellow;
      font-size: 2rem;
      overflow: hidden;
    }
  }
}

footer {
  padding: 0px 10px 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;

  p {
    text-align: center;
  }

  a {
    text-align: center;
    color: #777;
    text-decoration: none;
  }

  .socials {
    margin: 0 10px;
    height: 50px;
    width: 90px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    line-height: 50px;
    font-size: 3.5rem;

    .fab {
      color: #999;
    }
  }
}

@media (min-width: 1024px) {

  .wrapper {
    input {
      margin-top: 20px;
      width: 20%;
    }

    .cities {
      width: 70%;
      margin-top: 40px;

      &__city {
        display: flex;
        flex-wrap: nowrap;
      }

      &__header {
        width: 50%;
        height: 100%;
      }

      &__body {
        width: 50%;
        height: 100%;
      }
    }
  }

  footer {
    .socials {
      .fab {
        transition: .1s linear;
      }

      .fa-linkedin:hover {
        color: #fff;
      }

      .fa-github-square:hover {
        color: #fff;
      }
    }

    a {
      transition: .1s linear;

      &:hover {
        color: #fff;
      }
    }
  }
}